body{
	background-color: #B2C1D1;
}
label{
	font-size: 1.2rem;
}
#input{
    outline: none;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    margin-left: 0.3rem;
}
#search{
	padding: 1rem;
    border: none;
    outline: none;
    background-color: #219A7B;
    color: #FFF;
}
.mainContainer{
	display: flex;
}
footer{
    margin-top: 1rem;
}