body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navBar{
	background-color: #247BA0; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.navList{
	display: flex;
	/*justify-content: space-between;*/
	/*margin: 1rem;*/
}
.homeContentContainer p, h1{
	text-align: center;
	padding: 1rem;
}
li{
	margin-right: 2rem;
	padding: 2rem;
}
li:hover{
	background-color: #539FC6;
}
img{
    width: 80px;
    margin: 1rem;
}
footer{
	background-color: #272425;
	padding: 2rem;
}
footer p{
	text-align: center;
	color: #F8F9F8;
}
a{
	color: #F8F9F8;
}
@media only screen and (min-width: 320px) {
    img {
        width: 42px;
    }
}
.searchForm{
	display: flex;
	justify-content: center;
	padding: 2rem;
}
.searchBox{
	outline: none;
	border: none;
	padding: 1rem;
}
.subContainer{
	background-color: #3A3E4B;
	padding: 2.5rem;

}
.submitBtn{
	outline: none;
	padding: 1.1rem;
	margin-left: 1rem;
}
