body {
  margin: 0;
  padding: 0;
  font-family: 'Hind Vadodara', sans-serif;
  background-color: #EAEFEE;
}
footer{
	background-color: #3A3E4B; 
	padding: 1rem;
}
footer p{
	text-align: center;
	color: #F8F9F8;
}
a{
	color: #F8F9F8;
}
img{
	width: 30%;

}
.navBar{
	background-color: #3A3E4B; 
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}
.mainContainer{
	background-color: #FAFBFC;
	flex-basis: 35%;
	padding: 1rem;
}
.bestResults h1{
	text-align: left;
	padding: 1rem 0rem 0rem 0rem;
}
.navList{
	display: flex;
}
.homeContentContainer p, h1{
	text-align: center;
	padding: 2rem;
}
.asideCon{
	display: flex;
	justify-content: space-between;
}
.subNav{
	display: flex;
	justify-content: space-between;
	background-color: #B2C1D1;
    padding: 1rem;
}
.card h1{
	text-align: left;
	padding: 0;
	padding-bottom: 0.5rem;
}
.card img{
	height: 100%;
    width: 30%;
}
.card p {
	padding-top: 0.5rem;
}
.card{
	display: flex;
	border-radius: 3.573px;
	background-color:#D8DDE6;
	box-shadow: 0px 0px 10px #888888;
	padding: 0.8rem;
	width: 22%;
	margin-top: 1rem;
	margin-left: 1rem;
}
.text-info{
	margin-left: 1rem;
}
.result-header{
	background-color: #B2C1D1;
}
.result-header h1{
	text-align: left;
}
.searchContainer{
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
}
.searchContainer h1{
	padding-top: 4.2rem;
    padding-bottom: 4rem;
}
.searchForm{
	display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.searchBox{
	background-color: #3A3E4B;
	outline: none;
	border: none;
	padding: 1.6rem;
	color: #F8F9F8;
    box-shadow: 2px 2px 12px #888888;
	border-radius: 3px;
	width: 60%;
}
.submitBtn{
	background-image: url(search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2rem;
	background-color: #539FC6;
	box-shadow: 2px 2px 12px #888888;
	outline: none;
	width: 12%;
	border-radius: 3px;
	padding-top: 1rem;
    padding-bottom: 3.7rem;
    padding-left: 0.8rem;
    padding-right: 4rem;
}
.details{
	display: flex;
	flex-direction: column;
	margin-left: 8rem;
    margin-top: 5rem;
}
.navBar li{
	margin-right: 2rem;
	padding: 2rem;
}
.navBar li:hover{
	background-color: #539FC6;
}
.bookItemsContainer{
	display: flex;
	flex-wrap: wrap;
}
.bk-sub-contanier{
	flex-basis: 50%;
    word-break: break-word;
    padding-right: 1rem;
    padding-top: 1rem;
}
.bk-sub-contanier h1{
	padding: 0;
}
.bk-sub-contanier h2{
	padding-bottom: 1rem;
}

/*Icons on the homepage*/
#book{
	background-image: url('book.svg');
	background-repeat: no-repeat;
	text-indent: -32rem;
    background-position: 4.5rem 1rem;
	background-size: 2rem;
	
}
#review{
	background-image: url('review.svg');
	background-repeat: no-repeat;
	text-indent: -35rem;
    background-position: 4.5rem 1rem;
	background-size: 2rem;
	
}
#plus{
	background-image: url('add.svg');
	background-repeat: no-repeat;
	text-indent: -32rem;
    background-position: 4.5rem 1.3rem;
	background-size: 2rem;
}
