body {
  margin: 0;
  padding: 0;
  font-family: 'Hind Vadodara', sans-serif;
  background-color: #EAEFEE;
}
footer{
	background-color: #3A3E4B; 
	padding: 1rem;
}
footer p{
	text-align: center;
	color: #F8F9F8;
}
a{
	color: #F8F9F8;
}
img{
	width: 30%;

}
/*-------Classes and ID's-----------*/
.btnAdd{
	background-image: url(add.svg);
	background-repeat: no-repeat;
	background-color: transparent;
    padding: 0.5rem;
    color: transparent;
    margin: 1rem 0rem 0rem 10rem;
}
.navBar{
	background-color: #3A3E4B; 
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}
.mainContainer{
	background-color: #FAFBFC;
	flex-basis: 35%;
	padding: 1rem;
}
.bestResults h1{
	text-align: left;
	padding: 1rem 0rem 0rem 0rem;
}
.results-container{
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.navList{
	display: flex;
	flex-wrap: wrap;
    align-items: flex-end;
}
.homeContentContainer p, h1{
	text-align: center;
	padding: 2rem;
}
.asideCon{
	display: flex;
	justify-content: space-between;
}
.subNav{
	display: flex;
	justify-content: space-between;
	background-color: #B2C1D1;
    padding: 1rem;
}
.card h1{
	text-align: left;
	padding: 0;
	padding-bottom: 0.5rem;
}
.card img{
	padding-bottom: 1rem;
    width: 100%;
    padding-left: 0rem;
}
.card p {
	padding-top: 0.5rem;
}
.card{
	display: flex;
	border-radius: 3.573px;
	background-color:#D8DDE6;
	box-shadow: 0px 0px 10px #888888;
	padding: 0.8rem;
	flex-basis: 10%;
	margin-top: 2rem;
	margin-left: 2rem;
}
.text-info{
	margin-left: 1rem;
	width: 100%;
}
.text-info p{
	padding: 0rem;
	    text-align: left;
}
.result-header{
	background-color: #B2C1D1;
	flex-basis: 100%;
}
.result-header h1{
	text-align: left;
}
.searchContainer{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}
.searchContainer h1{
	/*padding-top: 4.2rem;
    padding-bottom: 4rem;*/
}
.searchForm{
	display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}
.searchBox{
	background-color: #3A3E4B;
	outline: none;
	border: none;
	padding: 1.6rem;
	color: #F8F9F8;
    box-shadow: 2px 2px 12px #888888;
	border-radius: 3px;
	width: 60%;
}
.submitBtn{
	background-image: url(search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2rem;
	background-color: #539FC6;
	box-shadow: 2px 2px 12px #888888;
	outline: none;
	width: 12%;
	border-radius: 3px;
	padding-top: 1rem;
    padding-bottom: 3.7rem;
    padding-left: 0.8rem;
    padding-right: 4rem;
}
.details{
	display: flex;
	flex-direction: column;
	margin-left: 14rem;

	
}
.navBar li{
	margin-right: 2rem;
	padding: 2rem;
	flex-basis: 10%;
}
.navBar li:hover{
	background-color: #539FC6;
}
.bookItemsContainer{
	display: flex;
	flex-wrap: wrap;
}
.bk-sub-contanier{
	flex-basis: 50%;
    word-break: break-word;
    padding-right: 1rem;
    padding-top: 1rem;
}
.bk-sub-contanier h1{
	padding: 0;
}
.bk-sub-contanier h2{
	padding-bottom: 1rem;
}

/*Icons on the homepage*/
#book{
	background-image: url('book.svg');
	background-repeat: no-repeat;
	text-indent: -73rem;
    background-position: 4.5rem 1rem;
	background-size: 2rem;
	
}
#review{
	background-image: url('review.svg');
	background-repeat: no-repeat;
	text-indent: -76rem;
    background-position: 4.5rem 1rem;
	background-size: 2rem;
	
}
#plus{
	background-image: url('add.svg');
	background-repeat: no-repeat;
	text-indent: -73rem;
    background-position: 4.5rem 1.3rem;
	background-size: 2rem;
}

/*-----------Media Queries---------*/
@media only screen and (min-width: 320px) {
    #book {
        text-indent: 1rem;
        background-position: 2rem 1rem
    }
    #review {
        text-indent: -2rem;
    	background-position: 2rem 1rem;
    } 
    #plus {
        text-indent: 1rem;
    	background-position: 2.1rem 1.3rem;
    } 
    .details {
        margin-left: 0rem;
    }
     .searchForm {
        padding-bottom: 2rem;
    }
      .navBar li {
	    margin-left: 2.2rem;
	    margin-right: 1rem;
	    padding-top: 0.5rem;
	    padding: 0.5rem;
	    flex-basis: 10%;
	    align-self: center;
    } 
}

@media only screen and (min-width: 414px) {
    #book {
		text-indent: -2rem;
        background-position: 3rem 1rem
    }
    #review {
    	 text-indent: -4.8rem;
    	background-position: 3rem 1rem;
    } 
     #plus {
    	text-indent: -1.9rem;
    	background-position: 3.1rem 1.3rem;
    } 
}
@media only screen and (min-width: 475px) {
    #plus {
    	text-indent: -1.9rem;
    	background-position: 3.1rem 1.3rem;
    } 
}
@media only screen and (min-width: 670px) {
    .navList{
    	flex-basis: 49%;
    } 
    #book {
		text-indent: -8rem;
        background-position: 7rem 1rem
    }
    #review{
    	text-indent: -10.7rem;
    	background-position: 7rem 1rem;
    }
     #plus {
        text-indent: -7.9rem;
    	background-position: 7.1rem 1.3rem;
    } 
}
@media only screen and (min-width: 768px) {
    .navList{
    	flex-basis: 49%;
    	padding-top: 0.5rem;
    	padding-bottom: 0.5rem;
    } 
    #book {
		text-indent: -15rem;
    	background-position: 8rem 1rem;
    }
    #review{
    	text-indent: -17.7rem;
    	background-position: 8rem 1rem;
    }
     #plus {
        text-indent: -14.9rem;
    	background-position: 8.1rem 1.3rem;
    } 
    .card{
    	flex-basis: 45%;
    }
}
@media only screen and (min-width: 900px) {
    .navList{
    	flex-basis: 49%;
    	padding-top: 0.5rem;
    	padding-bottom: 0.5rem;
    } 
    #book {
		text-indent: -24rem;
    	background-position: 10rem 1rem
    }
    #review{
    	text-indent: -26.7rem;
    	background-position: 10rem 1rem;
    }
     #plus {
        text-indent: -23.9rem;
    	background-position: 10.1rem 1.3rem;
    } 
    .card{
    	flex-basis: 30%;
    }
}
@media only screen and (min-width: 1440px) {
    .navList{
    	flex-basis: 23%;
	    padding-top: 1.5rem;
	    padding-bottom: 1.5rem;
    } 
    .navList li{
    	flex-basis: 16%;
    } 
    .searchBox{
    	width: 35%;
    }
    .details{
    	margin-left: 15rem;
    }
    #book {
	    text-indent: -40rem;
    	background-position: 9rem 1rem;
    }
    #review{
    	text-indent: -42.7rem;
    	background-position: 9rem 1rem;
    }
     #plus {
        text-indent: -39.9rem;
    	background-position: 9.1rem 1.3rem;
    } 
    .card{
    	flex-basis: 22%;
    }
}
@media only screen and (min-width: 1679px) {
    .navList{
    	flex-basis: 32.9%;
	    padding-top: 1.5rem;
	    padding-bottom: 1.5rem;
    } 
    .navList li{
    	flex-basis: 16%;
    } 
    .searchBox{
    	width: 35%;
    }
    .details{
    	margin-left: 15rem;
    }
    #book {
	    text-indent: -40rem;
    	background-position: 14rem 1rem;
    }
    #review{
    	text-indent: -42.7rem;
    	background-position: 14rem 1rem;
    }
     #plus {
        text-indent: -39.9rem;
    	background-position: 14.1rem 1.3rem;
    } 
    .card{
    	flex-basis: 18%;
    }
}





